h1{
    text-align: center;
    text-decoration: lightseagreen;
}

h2{
    text-align: center;
    font-weight: 800;
}

h3{
    text-align: center;
    font-family: cursive;
    color: rgb(225, 41, 225);
    font-weight: 800;
}

div{
    width: 300px;
    height: 250px;
    background-color: rgb(221, 234, 234);
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}