<% layout('layouts/boilerplate') %>


<div class="row">
    <div class="col-md-6 mx-auto">
        <!-- Displaying local file of flash -->
        <%- include('../partails/flash') %>
        <h1 class="display-6 mt-3">Sign up</h1>
        <form action="/register" method="POST">
            <div>
                <label class="form-label mt-3" for="username">Username : </label>
                <input class="form-control mt-1" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <label class="form-label mt-3" for="email">Email : </label>
                <input class="form-control mt-1" type="email" name="email" id="email" placeholder="Email">
            </div>
            <div>
                <label class="form-label mt-3" for="password">Password : </label>
                <input class="form-control mt-1" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="btn btn-sm btn-success mt-3" type="submit">Sign up</button>
            <p class="fw-light mt-2">Already have an account <a href="/login">Login</a></p>
        </form>
    </div>
</div>
