<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Form for Editing a blog</legend>
        <form action="/" method="POST">
    
            <label for="Comment">Comment: </label>
            <input type="text" name="Comment" id="Comment">
    
            <br>
            
            <button type="submit">Edit</button>
    
        </form>
    </fieldset>
</body>
</html>