<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Form for new Blog</legend>
        <form action="/blogs" method="POST">

            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <br>
    
            <label for="Comment">Comment: </label>
            <input type="text" name="Comment" id="Comment">
    
            <br>
            <!-- <label for="id">id: </label>
            <input type="text" name="id" id="id"> -->
    
            <!-- <br> -->
            <button type="submit">Submit</button>
    
        </form>
    </fieldset>
</body>
</html>