<!-- include header -->
<%- include('./partials/header') %>

    <h1>Lo kar lo baat Hum aapse gud morning khne aaye h</h1>

    <button>Click</button>

<%- include('./partials/footer') %>
<!-- include footer -->

   