<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Get vs Post</h1>

    <fieldset>
        <h2>Get </h2>
        <form action="/user" method="GET">
            <label for="name">Name : </label>
            <input type="text" name="username" id="name">
    
            <label for="age">Name : </label>
            <input type="number" name="age" id="age">
    
            <button type="submit">Submit</button>
        </form>
    </fieldset>

    <hr>
    <hr>
    <br>

    <fieldset>
        <h2>Post</h2>
        <form action="/user" method="POST">
            <label for="name">Name : </label>
            <input type="text" name="username" id="name">
    
            <label for="age">Name : </label>
            <input type="number" name="age" id="age">
    
            <button type="submit">Submit</button>
        </form>
    </fieldset>
</body>
</html>