<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- HTML + JS -->

    <h1>hello j mera fav number  <%= 2+2+2 %></h1>
    <h1> hello j mera fav number  <%= number %></h1>

    <% if(number % 2 == 0){ %>
        <h1>Even Number</h1>
    <% } else{ %>
        <h1>Odd Number</h1>
    <% } %>
</body>
</html>